{% extends "default.html" %}

{% block title %}Receive Order{% endblock %}
{% block header %}Receive{% endblock %}
{% block content %}
    <div class="container">
        <form action="/receive/{{object.receive_id|default:'' }}" method="post" enctype="application/x-www-form-urlencoded">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12 text-end">
                    <div class="btn-group" role="group" aria-label="Control">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button class="btn btn-secondary" type="button" onclick="location.href='/'">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="receiveNo" class="form-label">Receive No</label>
                    <input type="text" class="form-control" id="receiveNo" name="receive_no"
                           value="{{ object.receive_no }}"/>
                </div>
                <div class="col-md-6">
                    <label for="receiveDate" class="form-label">Receive Date</label>
                    <input type="datetime-local" class="form-control" id="receiveDate" name="receive_date"
                           value="{{ object.receive_date|date:'Y-m-d\TH:i:s' }}"/>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="vendor" class="form-label">Vendor</label>
                    <select id="vendor" name="receive_vendor" class="form-control">
                        <option>-- กรุณาเลือก --</option>
                        {% for vendor in vendor_list %}
                            {% if object.receive_vendor == vendor.vendor_id %}
                                <option selected value="{{ vendor.vendor_id }}">{{ vendor.vendor_name }}</option>
                            {% else %}
                                <option value="{{ vendor.vendor_id }}">{{ vendor.vendor_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="amount" class="form-label">Amount</label>
                    <input readonly type="number" class="form-control" id="amount" name="receive_amount"
                           value="{{ object.receive_amount }}"/>
                </div>
            </div>
            <input type="hidden" name="receive_id" value="{{object.receive_id|default:"" }}">
        </form>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <h4>Detail</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-end">
                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Add
                </button>
                {% include "receives/dlg-detail.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Qty</th>
                        <th>Cost</th>
                        <th>PO</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if detail_list %}
                        {% for detail in detail_list %}
                        <tr>
                            <td>{{ detail.product_id }}</td>
                            <td>{{ detail.qty }}</td>
                            <td>{{ detail.cost }}</td>
                            <td>{{ detail.po }}</td>
                            <td><button class="btn btn-primary" type="button" onclick="editClick(this)">Edit</button></td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        let myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'));
        function editClick(o){
            let row = $(o).parent().parent();
            let product_id=row.find('td:nth-child(0)').text();
            let qty=row.find('td:nth-child(1)').text();
            let cost=row.find('td:nth-child(2)').text();
            let po=row.find('td:nth-child(3)').text();

            $('#product').val(product_id);
            $('#qty').val(qty);
            $('#cost').val(cost);
            $('#po').val(po);
            myModal.show();
        }


    </script>
{% endblock %}
