{% extends "static-modal.html" %}

{% block title %}Delivery Detail{% endblock %}

{% block content %}
    <form id="frmDeliveryDetail" action="/deliveries/{{ object.delivery_id|default:'' }}/details/{{ detail.delivery_detail_id|default:'' }}"
          enctype="application/x-www-form-urlencoded" method="post">
        {% csrf_token %}
        <input type="hidden" name="delivery_id" value="{{ object.delivery_id|default:'' }}"/>
        <div class="modal-body">
            <div class="container">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="product" class="form-label">Receive No</label>
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" id="receive_no" readonly/>
                            <input class="form-control" type="hidden" id="receive_detail_id" name="receive_detail_id" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal"
                                        data-bs-target="#receiveModal" data-bs-dismiss="modal" >Browse
                                </button>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="available" class="form-label">Available</label>
                        <input type="number" class="form-control" id="available" readonly/>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="product" class="form-label">Product</label>
                        <input class="form-control" type="text" id="product" readonly/>
                        <input type="hidden" id="product_id" name="product_id"/>
                    </div>
                    <div class="col-md-6">
                        <label for="qty" class="form-label">QTY</label>
                        <input name="qty" type="number" class="form-control" id="qty">
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="price" class="form-label">Price</label>
                        <input name="price" type="number" class="form-control" id="price"/>
                    </div>
                    <div class="col-md-6">
                        <label for="detail_amount" class="form-label">Amount</label>
                        <input readonly name="amount" type="number" class="form-control" id="detailAmount"/>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-12">
                        <label for="so" class="form-label">SO</label>
                        <input name="so" type="text" class="form-control" id="so"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
{% endblock %}