{% extends "default.html" %}

{% block title %}Delivery Order{% endblock %}
{% block header %}Delivery{% endblock %}
{% block content %}
    <div class="container">
        <form action="/deliveries/{{ object.receive_id|default:'' }}" method="post"
              enctype="application/x-www-form-urlencoded">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12 text-end">
                    <div class="btn-group" role="group" aria-label="Control">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button class="btn btn-secondary" type="button" onclick="location.href='/deliveries/view'">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="deliveryNo" class="form-label">Delivery No</label>
                    <input type="text" class="form-control" id="deliveryNo" name="delivery_no"
                           value="{{ object.delivery_no }}"/>
                </div>
                <div class="col-md-6">
                    <label for="deliveryDate" class="form-label">Delivery Date</label>
                    <input type="datetime-local" class="form-control" id="deliveryDate" name="delivery_date"
                           value="{{ object.delivery_date|date:'Y-m-d\TH:i:s' }}"/>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="customer" class="form-label">Customer</label>
                    <select id="customer" name="customer" class="form-control">
                        <option>-- กรุณาเลือก --</option>
                        {% for customer in customer_list %}
                            {% if object.customer.customer_id == customer.customer_id %}
                                <option selected
                                        value="{{ customer.customer_id }}">{{ customer.customer_short_name }}</option>
                            {% else %}
                                <option value="{{ customer.customer_id }}">{{ customer.customer_short_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <input type="hidden" name="delivery_id" value="{{ object.delivery_id|default:"" }}">
        </form>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <h4>Detail</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-end">
                {% if object.delivery_id %}
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                        Add
                    </button>
                {% else %}
                    <button disabled class="btn btn-primary" type="button">
                        Add
                    </button>
                {% endif %}

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Qty</th>
                        <th>Cost</th>
                        <th>PO</th>
                        <th style="width: 50px">Edit</th>
                        <th style="width: 50px">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if detail_list %}
                        {% for detail in detail_list %}
                            <tr>
                                <td>{{ detail.product }}</td>
                                <td>{{ detail.qty }}</td>
                                <td>{{ detail.price }}</td>
                                <td>{{ detail.so }}</td>
                                <td style="display:none;">{{ detail.product.product_id }}</td>
                                <td style="display:none;">{{ detail.receive_detail.receive_detail_id }}</td>
                                <td style="display:none;">{{ detail.receive_detail.receive.receive_no }}</td>
                                <td>
                                    <button class="btn btn-primary" type="button" onclick="editClick(this)">Edit
                                    </button>
                                </td>
                                <td>
                                    <form method="POST"
                                          action="/deliveries/{{ object.delivery_id|default:'' }}/details/{{ detail.delivery_detail_id|default:'' }}/action/delete"
                                          enctype="application/x-www-form-urlencoded">
                                        {% csrf_token %}
                                        <button class="btn btn-secondary" type="submit">Delete
                                        </button>
                                    </form>
                                </td>

                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include "delivery/dlg-detail.html" %}
    {% include "delivery/dlg-select-receive.html" %}
    <script>
        let myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'));
        let receiveModal = new bootstrap.Modal(document.getElementById('receiveModal'));

        function editClick(o) {
            let row = $(o).parent().parent();
            let product_id = row.find('td:nth-child(5)').text();
            let product = row.find('td:nth-child(1)').text();
            let qty = row.find('td:nth-child(2)').text();
            let cost = row.find('td:nth-child(3)').text();
            let po = row.find('td:nth-child(4)').text();
            let receive_detail_id = row.find('td:nth-child(6)').text();
            let receive_no = row.find('td:nth-child(7)').text();

            $('#product_id').val(product_id);
            $('#product').val(product);
            $('#qty').val(qty);
            $('#price').val(cost);
            $('#so').val(po);
            $('#receive_detail_id').val(receive_detail_id);
            $('#receive_no').val(receive_no);

            updateAmount();
            myModal.show();
        }

        let updateAmount = () => {
            let txtQty = $('#qty');
            let txtCost = $('#price');
            let qty = txtQty.val() ? txtQty.val() : "0";
            let cost = txtCost.val() ? txtCost.val() : "0";
            $('#detailAmount').val(cost * qty);
        }

        $(function () {
            $('#qty').change(() => updateAmount());
            $('#price').change(() => updateAmount());
        });
    </script>
{% endblock %}
